@model List<HotelProject.EntityLayer.Concrete.ContactInfo>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Admin/Index.cshtml";
    int count = 0;
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Hakkımızda</h4>

            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Adres</th>
                        <th>Telefon</th>
                        <th>Mail</th>
                        <th>Fax</th>
                        <th>Durum</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        count++;
                        <tr>
                            <td>@count</td>
                            <td>@item.Address</td>
                            <td>@item.Phone</td>
                            <td>@item.Email</td>
                            <td>@item.Fax</td>
                            <td><label class="badge badge-danger">@item.IsActive</label></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
